extends layout/_base
block content 
  .container 
    // product list
    .grid.gap-3(class='md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4')
      each product in products
        .group.flex.w-full.flex-col.overflow-hidden.rounded-lg.border.border-gray-100.bg-white.shadow-md
          a.relative.mx-3.mt-3.flex.h-60.overflow-hidden.rounded-xl(href=`/products/${product.id}`)
            img.peer.absolute.top-0.right-0.h-full.w-full.object-cover(src=`${product.imageURL}`, alt='product image')
          .mt-4.px-5.pb-5
            a(href='#')
              h5.text-xl.tracking-tight.text-slate-900= product.title
            .mt-2.mb-5.flex.items-center.justify-between
              p
                span.text-3xl.font-bold.text-slate-900= `$${product.price}`
                span.text-sm.text-slate-900.line-through= `$${product.price} + 42`
            button.block.w-full.py-4.flex.items-center.justify-center.rounded-md.bg-slate-900.px-5.text-center.text-sm.font-medium.text-white.text-lg(href='#', class='hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-blue-300') Add to cart
